.personalData {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personalData .image {
  flex: 1;
}

.personalData .image .img {
  border-radius: 50%;
}

.personalData .person {
  display: flex;
  flex-direction: column;
}
