.personal-info {
  display: flex;
  align-items: center;
}

.personal-info span {
  margin-right: 10px;
}

.personal-info .btn-border {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-info img {
  height: 20px;
  width: 20px;
}